<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--
  TestNG suite configuration for Cucumber BDD tests.

  thread-count / data-provider-thread-count are set via Maven resource filtering:
    - default: parallel.threads=4 (see pom.xml <properties>)
    - override at runtime: mvn test -Dparallel.threads=8
  parallel="methods": allows @DataProvider(parallel=true) in CucumberRunner
-->
<suite name="Selenium UI + API Test Suite"
       verbose="1"
       parallel="methods"
       thread-count="${parallel.threads}"
       data-provider-thread-count="${parallel.threads}">

    <test name="Cucumber Scenarios">
        <classes>
            <class name="com.yehorychev.selenium.runner.CucumberRunner"/>
        </classes>
    </test>

</suite>

