<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--
  TestNG suite configuration for Cucumber BDD tests.

  Thread counts are set programmatically by DynamicThreadListener from TestConfig.PARALLEL_THREADS
  (override via -DPARALLEL_THREADS=8). parallel="methods": allows @DataProvider(parallel=true).
-->
<suite name="Selenium UI + API Test Suite"
       verbose="1"
       parallel="methods">

    <listeners>
        <listener class-name="com.yehorychev.selenium.runner.DynamicThreadListener"/>
    </listeners>

    <test name="Cucumber Scenarios">
        <classes>
            <class name="com.yehorychev.selenium.runner.CucumberRunner"/>
        </classes>
    </test>

</suite>
